/* ==========================================================================
Base styles:opinionated defaults
========================================================================== */
html,
button,
input,
select,
textarea{color:#222}
html{font-family:'Georgia',Times New Roman,Times,serif;font-size:14px;line-height:normal;color:#333333}
/* Remove text-shadow in selection highlight:h5bp.com/i - These selection rule sets have to be separate. - Customize the background color to match your design. */
::-moz-selection{background:#b3d4fc;text-shadow:none}
::selection{background:#b3d4fc;text-shadow:none}
/* A better looking default horizontal rule */
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:15px 0;padding:0}
/* Remove the gap between images,
videos,
audio and canvas and the bottom of their containers:h5bp.com/i/440 */
audio,
canvas,
img,
video{vertical-align:middle}
/* Remove default fieldset styles. */
fieldset{border:0;margin:0;padding:0}
/* Allow only vertical resizing of textareas. */
textarea{resize:vertical}
/* ==========================================================================
Browse Happy prompt
========================================================================== */
.browsehappy{margin:0.2em 0;background:#ccc;color:#000;padding:0.2em 0}
/* ==========================================================================
Author's custom styles
========================================================================== */
a{text-decoration:none;}
ul{margin:0;padding:0}
ul{list-style:none}
ul.lista-simple{list-style:disc;padding-left:20px;}
.wrapper{width:950px;-khtml-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.center{margin-left:auto!important;margin-right:auto!important}
.left{float:left}
.right{float:right}
.clear{clear:both}
.block{display:block;}
.shadow-outer{-khtml-box-shadow:0 0 10px 0 rgba(0,0,0,0.5);-moz-box-shadow:0 0 10px 0 rgba(0,0,0,0.5);-ms-box-shadow:0 0 10px 0 rgba(0,0,0,0.5);-o-box-shadow:0 0 10px 0 rgba(0,0,0,0.5);-webkit-box-shadow:0 0 10px 0 rgba(0,0,0,0.5);box-shadow:0 0 10px 0 rgba(0,0,0,0.5)}
.shadow-outer-bottom{position:relative}
.shadow-outer-bottom:before{content:'';position:absolute;bottom:-10px;left:0;width:100%;height:10px;background-image:url(../img/shadow-outer-bottom.png);background-repeat:repeat-x;background-position:center top}
.shadow-outer-bottom-central{position:relative}
.shadow-outer-bottom-central:before{content:'';position:absolute;bottom:-9px;left:0;width:100%;height:8px;background-image:url(../img/shadow-outer-bottom-central.png);background-repeat:no-repeat;background-position:center top}
.shadow-outer-bottom-central-mini{position:relative}
.shadow-outer-bottom-central-mini:before{content:'';position:absolute;bottom:-5px;left:0;width:100%;height:4px;background-image:url(../img/shadow-outer-bottom-central-mini.png);background-repeat:no-repeat;background-position:center top}
.shadow-inner-top{position:relative}
.shadow-inner-top:before{content:'';position:absolute;top:0;left:0;width:100%;height:10px;background-image:url(../img/shadow-outer-bottom.png);background-repeat:repeat-x;background-position:center top}
.shadow-inner-bottom{position:relative}
.shadow-inner-bottom:before{content:'';position:absolute;bottom:0;left:0;width:100%;height:10px;background-image:url(../img/shadow-outer-top.png);background-repeat:repeat-x;background-position:center top}
.border-box{-khtml-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.circle{-khtml-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;-webkit-border-radius:50%;border-radius:50%}
.circle.shadow-outer{-khtml-box-shadow:0 2px 5px 0 rgba(0,0,0,0.3);-moz-box-shadow:0 2px 5px 0 rgba(0,0,0,0.3);-ms-box-shadow:0 2px 5px 0 rgba(0,0,0,0.3);-o-box-shadow:0 2px 5px 0 rgba(0,0,0,0.3);-webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,0.3);box-shadow:0 2px 5px 0 rgba(0,0,0,0.3)}
.border-radius{-khtml-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
.border-white{border:6px solid #FFFFFF}
.border-white-top{border-top:6px solid #FFFFFF}
.border-white-bottom{border-bottom:1px solid #FFFFFF}
.border-gray{border:1px solid #CCCCCC}
.border-gray-top{border-top:1px solid #CCCCCC}
.border-gray-bottom{border-bottom:1px solid #CCCCCC}
.border-blue-light-top{border-top:6px solid #3399CC}
.border-blue-light-bottom{border-bottom:6px solid #3399CC}
.border-blue-top{border-top:6px solid #283891}
.border-blue-bottom{border-bottom:6px solid 0#283891}
.bg-white{background-color:#FFFFFF}
.bg-gray{background-color:#F6F6F6}
.bg-blue-lighter{background-color:#66ccff}
.bg-blue-light{background-color:#3399CC}
.bg-blue-medium{background-color:#2c3790}
.bg-blue-dark{background-color:#003366}
.bg-blue-gradient{background:#2c3790;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjMzc5MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwOTEzNjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top,#2c3790 0%,#091369 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#2c3790),color-stop(100%,#091369));background:-webkit-linear-gradient(top,#2c3790 0%,#091369 100%);background:-o-linear-gradient(top,#2c3790 0%,#091369 100%);background:-ms-linear-gradient(top,#2c3790 0%,#091369 100%);background:linear-gradient(to bottom,#2c3790 0%,#091369 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c3790',endColorstr='#091369',GradientType=0)}
.white{color:#FFFFFF}
.blue-lighter{color:#66ccff}
.blue-light{color:#3399CC}
.blue-medium{color:#2c3790}
.blue-dark{color:#003366}
.text-shadow{text-shadow:2px 2px 2px rgba(0,0,0,0.5)}
.italic{font-style:italic}
.t-center{text-align:center}
.t-right{text-align:right}
h1.bg-blue-gradient{margin:50px 0 0;padding:25px 0}
p{margin:0;line-height:18px}
body{max-width:100%;overflow-y:scroll;}
body>*{width:100%}
header.fixed{position:fixed;top:0;left:0;z-index:10}
header .wrapper{height:73px;padding:25px 0}
header .logo{display:block;width:106px;height:20px;background-image:url(../img/sprite.png);background-repeat:no-repeat;background-position:0 0;text-indent:-9999px;overflow:hidden}
header nav>a{float:left;margin-right:25px;}
header nav>div{float:right;margin-left:10px;}
header nav a{display:inline-block;font-size:12px;line-height:21px;font-weight:bold;color:#FFFFFF;text-decoration:none;vertical-align:middle}
header nav a:not(.login):hover,
header nav a.current{color:#003366}
header nav .languaje{margin-bottom:-13px;margin-top:-13px;}
header nav .languaje a{display:block;width:16px;height:11px;background-image:url(../img/sprite.png);background-repeat:no-repeat;text-indent:-9999px;overflow:hidden;opacity:0.8;margin-top:7px;}
header nav .languaje a:first-child{margin-top:0}
header nav .languaje a:hover{opacity:1;}
header nav .languaje a.es{background-position:-116px 0}
header nav .languaje a.en{background-position:-142px 0}
header nav .languaje a.br{background-position:-168px 0}
header .onoffswitch{display:inline-block;position:relative;width:55px;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;-webkit-user-select:none;user-select:none}
header .onoffswitch-checkbox{display:none}
header .onoffswitch-label{display:block;overflow:hidden;cursor:pointer;-khtml-border-radius:19px;-moz-border-radius:19px;-ms-border-radius:19px;-o-border-radius:19px;-webkit-border-radius:19px;border-radius:19px;border:1px solid #E7E7E7}
header .onoffswitch-inner{width:200%;margin-left:-100%;-khtml-transition:margin 0.3s ease-in 0s;-moz-transition:margin 0.3s ease-in 0s;-ms-transition:margin 0.3s ease-in 0s;-o-transition:margin 0.3s ease-in 0s;-webkit-transition:margin 0.3s ease-in 0s;transition:margin 0.3s ease-in 0s}
header .onoffswitch-inner:before,
.onoffswitch-inner:after{float:left;-khtml-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;-khtml-box-shadow:0 4px 4px 0 rgba(0,0,0,0.13) inset;-moz-box-shadow:0 4px 4px 0 rgba(0,0,0,0.13) inset;-ms-box-shadow:0 4px 4px 0 rgba(0,0,0,0.13) inset;-o-box-shadow:0 4px 4px 0 rgba(0,0,0,0.13) inset;-webkit-box-shadow:0 4px 4px 0 rgba(0,0,0,0.13) inset;box-shadow:0 4px 4px 0 rgba(0,0,0,0.13) inset;width:50%;height:19px;padding:0;background:#e1e1e1;background:-moz-linear-gradient(top,#e1e1e1 0%,#fdfdfd 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#e1e1e1),color-stop(100%,#fdfdfd));background:-webkit-linear-gradient(top,#e1e1e1 0%,#fdfdfd 100%);background:-o-linear-gradient(top,#e1e1e1 0%,#fdfdfd 100%);background:-ms-linear-gradient(top,#e1e1e1 0%,#fdfdfd 100%);background:linear-gradient(to bottom,#e1e1e1 0%,#fdfdfd 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1e1e1',endColorstr='#fdfdfd',GradientType=0);font-family:'Josefin Sans',Arial,Helvetica,sans-serif;font-weight:700;font-size:11px;line-height:17px;-khtml-text-shadow:0 0 1px #3f3f3f;-moz-text-shadow:0 0 1px #3f3f3f;-ms-text-shadow:0 0 1px #3f3f3f;-o-text-shadow:0 0 1px #3f3f3f;-webkit-text-shadow:0 0 1px #3f3f3f;text-shadow:0 0 1px #3f3f3f;filter:dropshadow(color=#3f3f3f,offx=0,offy=0);color:#3F3F3F}
header .onoffswitch-inner:before{content:'ENG';-khtml-border-radius:19px 0 0 19px;-moz-border-radius:19px 0 0 19px;-ms-border-radius:19px 0 0 19px;-o-border-radius:19px 0 0 19px;-webkit-border-radius:19px 0 0 19px;border-radius:19px 0 0 19px;padding-left:6px}
header .onoffswitch-inner:after{content:'ESP';-khtml-border-radius:0 19px 19px 0;-moz-border-radius:0 19px 19px 0;-ms-border-radius:0 19px 19px 0;-o-border-radius:0 19px 19px 0;-webkit-border-radius:0 19px 19px 0;border-radius:0 19px 19px 0;padding-right:8px;text-align:right}
header .onoffswitch-switch{position:absolute;top:0;bottom:0;right:34px;margin:0px;-khtml-box-shadow:0 2px 4px 0 rgba(0,0,0,0.12),0 1px 1px 0 white inset;-moz-box-shadow:0 2px 4px 0 rgba(0,0,0,0.12),0 1px 1px 0 white inset;-ms-box-shadow:0 2px 4px 0 rgba(0,0,0,0.12),0 1px 1px 0 white inset;-o-box-shadow:0 2px 4px 0 rgba(0,0,0,0.12),0 1px 1px 0 white inset;-webkit-box-shadow:0 2px 4px 0 rgba(0,0,0,0.12),0 1px 1px 0 white inset;box-shadow:0 2px 4px 0 rgba(0,0,0,0.12),0 1px 1px 0 white inset;-khtml-border-radius:19px;-moz-border-radius:19px;-ms-border-radius:19px;-o-border-radius:19px;-webkit-border-radius:19px;border-radius:19px;border:1px solid #b8b7b7;width:19px;background:#ededed;background:-moz-linear-gradient(top,#ededed 0%,#d1d1d1 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ededed),color-stop(100%,#d1d1d1));background:-webkit-linear-gradient(top,#ededed 0%,#d1d1d1 100%);background:-o-linear-gradient(top,#ededed 0%,#d1d1d1 100%);background:-ms-linear-gradient(top,#ededed 0%,#d1d1d1 100%);background:linear-gradient(to bottom,#ededed 0%,#d1d1d1 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',endColorstr='#d1d1d1',GradientType=0);-khtml-transition:all 0.3s ease-in 0s;-moz-transition:all 0.3s ease-in 0s;-ms-transition:all 0.3s ease-in 0s;-o-transition:all 0.3s ease-in 0s;-webkit-transition:all 0.3s ease-in 0s;transition:all 0.3s ease-in 0s}
header .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner{margin-left:0}
header .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch{right:0}
header nav .dropdown{display:inline-block;position:relative;width:79px;height:21px}
header nav .dropdown a.login{padding:0 20px;white-space:nowrap;}
header nav .dropdown a.login:hover,
header nav .dropdown a.login.opened{color:#FFFFFF}
header nav .dropdown a.login.opened+form{display:inline-block}
header nav .dropdown form{display:none;position:absolute;top:37px;right:0;width:300px;padding:10px;background:#FFFFFF}
header nav .dropdown form:before{content:'';position:absolute;top:-9px;right:32px;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:9px solid #FFFFFF;width:0;height:0;line-height:0;font-size:0}
header nav .dropdown form span{display:block;margin-bottom:5px;font-size:10px;color:#F00}
header nav .dropdown form input.text{margin-bottom:10px;width:100%;height:30px;padding:4px;font-size:12px}
header nav .dropdown form input.submit{border:none;padding:6px 24px;font-family:'Georgia',Times New Roman,Times,serif;font-size:12px}
header nav .dropdown form a{display:block;margin-bottom:5px;font-size:11px}
#inicio>.image{height:800px;background-image:url(../img/inicio-img.jpg);background-repeat:no-repeat;background-position:center bottom;background-size:cover;}
#inicio>.image iframe{position:absolute;right:15px;bottom:15px;height:338px;}
#inicio>div.bg-white{padding:35px 0;}
#inicio li{display:inline-block;margin:0 5px;vertical-align:middle}
#inicio li h1{margin-bottom:10px;width:268px;height:87px;background-image:url(../img/logo.png);background-repeat:no-repeat;background-position:0 0;text-indent:-9999px;overflow:hidden}
#inicio li span{display:block;width:52px;height:52px;background-image:url(../img/sprite.png);background-repeat:no-repeat;text-indent:-9999px;overflow:hidden}
#inicio li span.icon-facebook1{background-position:0 -30px}
#inicio li span.icon-mail{background-position:-61px -30px}
#inicio li span.icon-twitter1{background-position:-123px -30px}
#inicio li span.icon-twitter2{background-position:-183px -30px}
#inicio li span.icon-cart{background-position:-244px -30px}
#inicio li span.icon-facebook2{background-position:-306px -30px}
header.fixed+#quienes-somos{margin-top:73px}
#quienes-somos>.wrapper{padding:50px 0 50px 305px;background-image:url(../img/logo-grande-1.png);background-repeat:no-repeat;background-position:0 22px}
#quienes-somos>.wrapper h5{line-height:28px}
#quienes-somos .bg-gray{padding:25px 0 25px}
#quienes-somos .bg-gray h1{margin-bottom:25px}
#quienes-somos .bg-gray .wrapper li{border-bottom:6px solid #3399CC;width:25%;height:177px;padding:0 15px 0 0}
#quienes-somos .bg-gray .wrapper li.andres{background-image:url(../img/quienes-somos-andres.jpg);background-repeat:no-repeat;background-position:center top}
#quienes-somos .bg-gray .wrapper li.mauro{background-image:url(../img/quienes-somos-mauro.jpg);background-repeat:no-repeat;background-position:center top}
#quienes-somos .bg-gray .wrapper li.alejandro{background-image:url(../img/quienes-somos-alejandro.jpg);background-repeat:no-repeat;background-position:center top}
#quienes-somos .bg-gray .wrapper li.gabriela{background-image:url(../img/quienes-somos-gabriela.jpg);background-repeat:no-repeat;background-position:center top}
#quienes-somos .bg-gray .wrapper li div{opacity:0;height:177px;padding:30px 12px 0;background-color:rgba(255,255,255,0.5);font-size:18px;-khtml-transition:padding 300ms ease-out;-moz-transition:padding 300ms ease-out;-ms-transition:padding 300ms ease-out;-o-transition:padding 300ms ease-out;-webkit-transition:padding 300ms ease-out;transition:padding 300ms ease-out}
#quienes-somos .bg-gray .wrapper li:hover{border-bottom:6px solid #2c3790}
#quienes-somos .bg-gray .wrapper li div h3{display:block;margin-bottom:8px;padding:8px}
#quienes-somos .bg-gray .wrapper li:hover div{opacity:1;padding:60px 12px 0}
#a-quien-esta-dirigido h1.wrapper{padding:50px 0 25px}
#a-quien-esta-dirigido .bg-gray .wrapper{padding:25px 0}
#a-quien-esta-dirigido .bg-gray .wrapper li{display:inline-block;width:28.5%;min-height:376px;padding:38px}
#a-quien-esta-dirigido .bg-gray .wrapper li .circle{display:inline-block;margin-bottom:42px;width:117px;height:117px;background-image:url(../img/sprite.png);background-repeat:no-repeat;text-indent:-9999px;overflow:hidden}
#a-quien-esta-dirigido .bg-gray .wrapper li.eventos .circle{background-position:0 -92px}
#a-quien-esta-dirigido .bg-gray .wrapper li.marcas .circle{background-position:-127px -92px}
#a-quien-esta-dirigido .bg-gray .wrapper li.b2b .circle{background-position:-254px -92px}
#a-quien-esta-dirigido .bg-gray .wrapper li h4{margin-bottom:10px}
#a-quien-esta-dirigido h3.wrapper{margin-top:25px;padding:15px 0}
#a-quien-esta-dirigido .bg-blue-gradient .wrapper{padding:25px 0}
#a-quien-esta-dirigido .bg-blue-gradient .wrapper li{display:inline-block;width:28.5%;padding:20px}
#a-quien-esta-dirigido .bg-blue-gradient .wrapper li .circle{display:inline-block;margin-bottom:42px;width:117px;height:117px;background-image:url(../img/sprite.png);background-repeat:no-repeat;text-indent:-9999px;overflow:hidden}
#a-quien-esta-dirigido .bg-blue-gradient .wrapper li.eventos .circle{background-position:-254px -482px}
#a-quien-esta-dirigido .bg-blue-gradient .wrapper li.marcas .circle{background-position:0 -482px}
#a-quien-esta-dirigido .bg-blue-gradient .wrapper li.viajes .circle{background-position:-127px -482px}
#a-quien-esta-dirigido .bg-blue-gradient .wrapper li h2 a{padding:5px 0}
#como-funciona>.wrapper{width:333px;padding:50px 0 25px}
#como-funciona>.wrapper h1{margin-bottom:}
#como-funciona .bg-gray .wrapper{padding:25px 30px}
#como-funciona .bg-gray .wrapper{padding:25px 30px 0}
#como-funciona .bg-gray .wrapper{padding:50px 30px 0}
#como-funciona .bg-gray .wrapper{padding:50px 30px}
#como-funciona .bg-gray .wrapper li{display:inline-block;width:26.8%}
#como-funciona .bg-gray .wrapper li .image{display:inline-block;margin-bottom:12px;width:208px;height:205px;background-image:url(../img/sprite.png);background-repeat:no-repeat;text-indent:-9999px;overflow:hidden}
#como-funciona .bg-gray .wrapper li.uno .image{background-position:0 -219px}
#como-funciona .bg-gray .wrapper li.dos .image{background-position:-218px -219px}
#como-funciona .bg-gray .wrapper li.tres .image{background-position:-436px -219px}
#como-funciona .bg-gray .wrapper li .circle{margin-bottom:22px;border-width:4px;width:44px;height:44px;font-family:"Times New Roman",Times,serif;line-height:44px}
#beneficios h1.wrapper{padding:50px 0 25px}
#beneficios ul.wrapper{}
#beneficios ul.wrapper li{display:inline-block;width:26.8%}
#beneficios ul.wrapper li>div{min-height:186px;padding:15px 0 25px;text-align:left}
#beneficios ul.wrapper li>div:first-child{min-height:169px}
#beneficios ul.wrapper li span{display:block;margin-bottom:10px;width:43px;height:38px;background-image:url(../img/sprite.png);background-repeat:no-repeat;text-indent:-9999px;overflow:hidden}
#beneficios ul.wrapper li span.audiencia{background-position:0 -434px}
#beneficios ul.wrapper li span.gamification{background-position:-53px -434px}
#beneficios ul.wrapper li span.influya{background-position:-106px -434px}
#beneficios ul.wrapper li span.viralice{background-position:-159px -434px}
#beneficios ul.wrapper li span.control{background-position:-212px -434px}
#beneficios ul.wrapper li span.reportes{background-position:-265px -434px}
#beneficios ul.wrapper li h4{margin-bottom:10px}
#faqs h1.wrapper{padding:50px 0 25px}
#faqs ul.wrapper{}
#faqs ul.wrapper li{padding:15px 0}
#faqs ul.wrapper li h4{margin-bottom:10px}
#contacto{padding-bottom:25px}
#contacto h1.wrapper{padding:50px 0 25px}
#contacto>.left,
#contacto>.right{width:50%}
#contacto>.left form{width:400px;padding:25px 75px 25px 0}
#contacto>.left form label{float:left;margin-bottom:35px;width:100px;line-height:30px;font-style:italic}
#contacto>.left form input.text,
#contacto>.left form select,
#contacto>.left form textarea{float:right;margin-bottom:35px;width:288px;font-size:12px}
#contacto>.left form input.text,
#contacto>.left form select{height:30px;padding:4px}
#contacto>.left form textarea{height:145px}
#contacto>.left form input.submit{border:none;padding:6px 24px;font-family:'Georgia',Times New Roman,Times,serif;font-size:12px}
#contacto>.right>.left{width:385px;background-image:url(../img/logo.png);background-repeat:no-repeat;background-position:168px 42px;padding:160px 65px;}
#contacto>.right>.left p a{color:#333333;text-decoration:none}
#contacto>.right>.left p a:hover{text-decoration:underline}
#contacto>.right .left>div{margin:30px 0 38px;padding:15px 0}
#contacto>.right .left>div p.left{margin-left:35px}
#contacto>.right .left>div p.right{margin-right:35px}
#contacto>.right .left>div span{display:inline-block;float:left;margin:3px 11px 0 0;width:16px;height:11px;background-image:url(../img/sprite.png);background-repeat:no-repeat;text-indent:-9999px;overflow:hidden}
#contacto>.right .left>div span.argentina{background-position:-194px 0}
#contacto>.right .left>div span.espana{background-position:-116px 0}
#contacto>.right>.left>a{display:inline-block;margin:0 3px;width:25px;height:25px;background-image:url(../img/sprite.png);background-repeat:no-repeat;text-indent:-9999px;overflow:hidden}
#contacto>.right>.left>a.facebook{background-position:-585px -447px}
#contacto>.right>.left>a.twitter{background-position:-619px -447px}
.aplicaciones{padding-right:15px}
.aplicaciones h1{padding:50px 0;background-repeat:no-repeat;background-position:center center;background-size:cover}
.aplicaciones#eventos-entretenimiento h1{background-image:url(../img/eventos-entretenimiento-h1.jpg)}
.aplicaciones#viajes-alojamiento h1{background-image:url(../img/viajes-alojamiento-h1.jpg)}
.aplicaciones#marcas-negocios h1{background-image:url(../img/marcas-negocios-h1.jpg)}
.aplicaciones .section{margin-bottom:25px}
.aplicaciones img{width:150px;height:auto;}
.aplicaciones img.left{margin-right:15px}
.aplicaciones img.right{margin-left:15px}
.aplicaciones h1{margin-bottom:25px;text-align:center;}
.aplicaciones h2,
.aplicaciones p{margin-bottom:10px}
.iframe{width:auto;padding:5%}
.iframe strong{display:block;margin-top:10px;}
/* APPRISE */
.appriseOverlay{position:fixed;top:0;left:0;z-index:4;background:rgba(0,0,0,0.3);display:none}
.appriseOuter{background:#FFFFFF;border:1px solid #EEEEEE;box-shadow:0 3px 7px #333333;-moz-box-shadow:0 3px 7px #333333;-webkit-box-shadow:0 3px 7px #333333;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;-khtml-border-radius:4px;z-index:99999999;min-width:200px;min-height:50px;max-width:25%;position:fixed;display:none}
.appriseInner{color:#333333;padding:20px;text-align:center}
.appriseInner button{margin:0 3px;border:1px solid #CCCCCC;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;-khtml-border-radius:3px;width:auto;height:auto;-webkit-appearance:button;padding:4px; /* Old browsers */ background:#F5F5F5;/* Chrome,Safari4+ */ background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF),color-stop(100%,#F5F5F5));/* Chrome10+,Safari5.1+ */ background:-webkit-linear-gradient(top,#FFFFFF 0%,#F5F5F5 100%);/* FF3.6+ */ background:-moz-linear-gradient(top,#FFFFFF 0%,#F5F5F5 100%);/* Opera 11.10+ */ background:-o-linear-gradient(top,#FFFFFF 0%,#F5F5F5 100%);/* W3C */ background:linear-gradient(to bottom,#FFFFFF 0%,#F5F5F5 100%);/* IE6-9 */ filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF',endColorstr='#F5F5F5',GradientType=0 );/* IE10+ */
background:-ms-linear-gradient(top,#FFFFFF 0%,#F5F5F5 100%); /* fix to IE conflict with border-radius */ filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);font-size:14px;line-height:14px;color:#2E2E2E;box-shadow:0 0 2px #CCCCCC;-moz-box-shadow:0 0 2px #CCCCCC;-webkit-box-shadow:0 0 2px #CCCCCC;cursor:pointer;}
.appriseInner button:hover{/* Old browsers */ background:#E5E5E5;/* Chrome,Safari4+ */ background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#F7F7F7),color-stop(100%,#E5E5E5));/* Chrome10+,Safari5.1+ */ background:-webkit-linear-gradient(top,#F7F7F7 0%,#E5E5E5 100%);/* FF3.6+ */ background:-moz-linear-gradient(top,#F7F7F7 0%,#E5E5E5 100%);/* Opera 11.10+ */ background:-o-linear-gradient(top,#F7F7F7 0%,#E5E5E5 100%);/* W3C */ background:linear-gradient(to bottom,#F7F7F7 0%,#E5E5E5 100%);/* IE6-9 */ filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F7F7',endColorstr='#E5E5E5',GradientType=0 );/* IE10+ */
	background:-ms-linear-gradient(top,#F7F7F7 0%,#E5E5E5 100%); /* fix to IE conflict with border-radius */
filter:progid:DXImageTransform.Microsoft.gradient(enabled = false)}
.appriseInner button:focus,
.appriseInner button:active{box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none}
.aButtons{text-align:center;margin:20px 10px 0}
footer .wrapper{padding:13px 0 10px}
footer .wrapper li{width:320px;font-size:11px;line-height:27px}
footer .wrapper li.om{display:inline-block;width:26px;height:27px;background-image:url(../img/sprite.png);background-repeat:no-repeat;background-position:-519px -445px;text-indent:-9999px;overflow:hidden}
footer .wrapper li a{color:#333333}
#demo #inicio>.image{background-image:url(../img/demo-img.jpg);}
#demo #inicio li h1{margin-top:60px;}
#demo header nav>a{float:none;margin:0 15px;}
#compra-de-producto .wrapper{padding:40px 0 80px;}
#compra-de-producto h1{margin:20px 0;}
#compra-de-producto .border-gray{padding:40px;}
#compra-de-producto img{float:left;margin-right:40px;width:250px;height:250px;}
#compra-de-producto h2{margin:20px 0;}
#compra-de-producto p{margin-bottom:10px;}
#compra-de-producto input.submit{border:none;padding:6px 24px;font-family:'Georgia',Times New Roman,Times,serif;font-size:12px;}
#comentario-y-valoracion .wrapper,
#encuesta-y-suscripcion .wrapper{padding:40px 0 80px;}
#comentario-y-valoracion .left,
#encuesta-y-suscripcion .left,
#comentario-y-valoracion .right,
#encuesta-y-suscripcion .right{width:48%;}
#comentario-y-valoracion h1,
#encuesta-y-suscripcion h1{margin:20px 0;}
#comentario-y-valoracion .border-box,
#encuesta-y-suscripcion .border-box{padding:20px}
#comentario-y-valoracion h4,
#encuesta-y-suscripcion h4,
#encuesta-y-suscripcion p{margin:0 0 20px 0;}
#comentario-y-valoracion input,
#encuesta-y-suscripcion input.submit{border:none;padding:6px 24px;font-family:'Georgia',Times New Roman,Times,serif;font-size:12px;}
#comentario-y-valoracion textarea{margin-bottom:35px;width:100%;height:145px;font-size:12px}
.rating{float:left;unicode-bidi:bidi-override;direction:rtl;font-size:40px;}
.rating > span{display:inline-block;position:relative;width:1.1em;}
.rating > span:hover:before,
.rating > span:hover ~ span:before{content:"\2605";position:absolute;color:#e3cf7a;}
#encuesta-y-suscripcion .field-wrapper{margin-bottom:35px;}
#encuesta-y-suscripcion .checkboxes label{float:left;width:28%;padding-left:2%}
#encuesta-y-suscripcion .checkboxes input{float:left;margin-top:2px;width:3%;}
#encuesta-y-suscripcion input.text,
#encuesta-y-suscripcion select{width:100%;height:30px;padding:4px;}
/* ==========================================================================
Helper classes
========================================================================== */
/* Image replacement */
.ir{background-color:transparent;border:0;overflow:hidden; /* IE 6/7 fallback */
*text-indent:-9999px}
.ir:before{content:"";display:block;width:0;height:150%}
/* Hide from both screenreaders and browsers:h5bp.com/u */
.hidden{display:none!important;visibility:hidden}
/* Hide only visually,
but have it available for screenreaders:h5bp.com/v */
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard:h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
/* Hide visually and from screenreaders,
but maintain layout */
.invisible{visibility:hidden}
/* Clearfix:contain floats */
.clearfix:before,
.clearfix:after{content:" "; /* 1 */ display:table;/* 2 */}
.clearfix:after{clear:both}
.clearfix{*zoom:1}
/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile inicio') styles.
Modify as content requires.
========================================================================== */
@media only screen and (min-width:35em){
/* Style adjustments for viewports that meet the condition */}
@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi){
/* Style adjustments for high resolution devices */}
/* ==========================================================================
Print styles.
Inlined to avoid required HTTP connection:h5bp.com/r
========================================================================== */
@media print{
	*{background:transparent!important;color:#000!important; /* Black prints faster:h5bp.com/s */
	box-shadow:none!important;text-shadow:none!important}
	a,
	a:visited{text-decoration:underline}
	a[href]:after{content:" (" attr(href) ")"}
	abbr[title]:after{content:" (" attr(title) ")"}
	/* Don't show links for images,
	or javascript/internal links */
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after{content:""}
	pre,
	blockquote{border:1px solid #999;page-break-inside:avoid}
	thead{display:table-header-group; /* h5bp.com/t */}
	tr,
	img{page-break-inside:avoid}
	img{max-width:100%!important}
	@page{margin:0.5cm}
	p,
	h2,
	h3{orphans:3;widows:3}
	h2,
	h3{page-break-after:avoid}
}